

.c_black {
    color: #000;
}
.c_white {
    color: #fff;
}
.cat-item{
    min-height: 468px;    
    position: relative;
    overflow: hidden;
    grid-template-columns: 50% 25% 25%;
    animation-delay: 0.235131s;
    animation-duration: 2s;        
    .title{
        position: absolute;        
        z-index: 200;
        h5{
            font-weight: bold;
           
            font-size: 30px;
            padding-left: 30px;
            margin: 0;
        }
        p{
         
            padding-left: 30px;
        }
    }
    &:hover .title {
        p,h5 {
            color: #fff;
        }
       
    }
    img {
        width: 100%;
        transition: transform 1.25s,opacity 2.5s;
        backface-visibility: visible;
        height: 100%;        
    }    

    .work_grid_bg {
            transition-duration: 1s ease;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -2;
            left: 0;
            top: 0;
            pointer-events: none;
            object-fit: cover;
    }
}

.cat-item:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.cat-item:hover:after {
    opacity:1;
}

.cat-item:hover{
    img{
        transform: scale3d(1.1,1.1,1.1);
      
        opacity: .85;
    }
    color: #fff;
   
}

.Singapore{
    grid-column: span 2;
}
.League{
    grid-column: span 2;
}
.FastFast{
    grid-column: span 2;
}
.Charles{
    grid-column: span 2;
}
.FairPrice{
    grid-column: span 2;
}
.reward{
    grid-column: span 2;
}

@media screen and (max-width: 600px) {
    .cat-item{
        min-height: 300px;  
    }
}
