@import './theme.scss';
@import './reset.scss';
@import './base.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');


  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .ql-editor {
    img {
      vertical-align: middle;
    }
  }

  .clearfix:after {
    width: 100%;
    display: block;
    content: '';
    clear: both;
    height: 0px;
    visibility: hidden;
  }
  
//   .container {
//     display: flex;
//     flex-direction: row;
//     // width: 100%;
//     // min-height: 100vh;
//     align-items: center;
//     position: relative;
//     margin-left: auto;
//     margin-right: auto;
//     box-sizing: border-box;
//     padding: 0 15px;
//     margin: 0px auto;
//     @media (min-width: 1120px) {
//           width: 1000px;
//     }
//     .infinite-s {
//           width: 100%;
         
//     }
// }
  
  html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.pd {
  font-family: padauk, myanmar3, pyidaungsu, 'noto sans myanmar';
}
.comment_icon, .heart_icon, .view_icon, .language_icon, .add_icon, .reply_icon {
  vertical-align: middle;
}

.Layout__Root-sc-7f9oow-0 {
  top: 0;
}

.preview-equ {
  img {
    height: 22px;
    vertical-align: middle;
    margin: 0px 2px;
 
  }
}
.ql-editor {
  img {
    vertical-align: middle;
    margin: 0px 2px;
   
  }
}

.ql-direction-rtl {
  direction: rtl;
  text-align: inherit;
}
 .ql-align-center {
  text-align: center;
}
 .ql-align-justify {
  text-align: justify;
}
.ql-align-right {
  text-align: right;
}

.post {
  main {
    article {
      img {
        vertical-align: middle;
        margin: 0px 2px;
      }
    }
  }
}
.s-posts{
  @include respond-to(sm) {
        width: 100%;
     }
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
  pre {
    background-color: #ededed;
    padding: 0.6rem;
    border-radius: 0.2rem;
  }

}

body.dark-mode {
  background-color: #10171d;
  color: #dfdfdf;
  .root-input {
    .search-input {
      background-color: #283a4d;
      color: #dddddd;
      input {
        color: #fff;
      }
    }
  }


  

  svg {
    fill: gainsboro;
  }
  pre {
    background-color: #14293f;
    padding: 0.6rem;
    border-radius: 0.2rem;
  }
  .preview-equ {
    img {
      height: 22px;
      vertical-align: middle;
      margin: 0px 2px;
      background-color: #dddddd;
    }
  }
  .main-panel {
     .select-dev {
      border-bottom: 1px solid #333333;
    }
     .list-topic {
      background-color: #14293f;
      color: #dddddd;
    }
     .d-title {
      color: #dddddd;
  
    }
    .tags-container {
      border-bottom: 1px solid #333;
    }
    .ql-toolbar.ql-snow {
      border-bottom: 1px solid #333;
    }
    input {
      background-color: transparent;
      color: #dddddd;
    }
  }


  .ql-editor {
    img {
      vertical-align: middle;
      margin: 0px 2px;
      background-color: #dddddd;
    }
  }
  .post {
    main {
      article {
        img {
          vertical-align: middle;
          margin: 0px 2px;
          background-color: #dddddd;
        }
      }
    }
  }
  
 
  .user_info {
    background-color: #10171d;
  }
  .equ-box {
    background-color: #10171d;
  }

  .side-root {
    background-color: #1b2938;
    border-right: 1px solid #333333;
    .list {
      .listItem {
        border-bottom: 1px solid #555555;
      }
      li {
        div {
          background-color: #1b2938;
        }
        color: #dddddd;
        select {
          background-color: #1b2938;
        }
      }
    }
  }
  .root-header {
    background-color: #1b2938;
  }
  .us-root {
    background-color: #10171d;
    
    .list .listItem {
      border-bottom: 1px solid #333;
      .username {
        color: #dddddd;
      }
    }
  }
  .comment {
    border-bottom: 1px solid #222222;
  }
  .root {
    background-color: #10171d;
    .container {
      background-color: #10171d;
      .s-posts {
        width: 90%;
     
      }
      .container_form {
        input {
          color: #dddddd;
        }
      }
      section {
        background-color: #10171d;
        .user-head {
          background-color: #10171d;
        }
      }
      // input {
      //   background-color: #10171d;
      // }
      label {
        background-color: #10171d;
      }
      .content {
        background-color: #10171d;
      }
      .edit_profile {
        color: #fff;
      }
      .select-dev .topic-menu {
        background-color: #10171d;
      }
      .post-list .post {
        border-bottom: 1px solid #333;
      }
     
    }
  }
  .p-content {
    .title {
      color: #dddddd;
    }
  }
  select {
    background-color: #1b2938;
    color: #ededed;
  }
  textarea {
    background-color: #10171d;
    color: #fff;
  }
  
  .text {
    color: #dddddd;
  }
  .btn-primary {
    color: #dddddd;
  }
  .h-root {
    background-color: #1b2938;
    a {
      color: #dddddd;
    }
    a:hover {
      color: #000;
    }
  }

  .dark-mode-toggle > button {
    color: #999;
    &:last-child {
      color: lightblue;
    }
  }
}

// .navbar {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   display: flex;
//   background-color: #95d3ff;
//   padding: 20px;
// }

.content {
  // padding: 20px;
  // margin: 0 auto;
  // margin-top: 60px;
  // max-width: 600px;
  // font-size: 20px;
  // line-height: 1.3em;

 

  img {
    width: 100%;
  }

  code {
    background-color: #cbe9ff;
    border-radius: 2px;
    font-size: 1em;
    padding: 0 5px;
  }



  button {
    color: #006688;
    background-color: transparent;
    border: none;
    font-size: 1em;
    padding: 0;
  }
}

body.dark-mode .content code {
  background-color: #1b2938;
}

body.dark-mode .content a {
  color: #ee09;
}

body.dark-mode .content button {
  color: #ee09;
}

.dark-mode-toggle {
  display: flex;
  margin: 0 auto;
  & > button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease;
    &:last-child {
      color: #666;
    }

    &:focus {
      outline: none;
    }
  }
}

.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type='checkbox'].dmcheck {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;

  &:checked + label {
    left: 30px;
  }

  &:focus-visible {
    outline: solid 2px white;
  }

  & + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: #f6f6f6;
  }
}





  #root {
    position: relative;
    min-height: 100vh;
  }

  // a:hover {
  //   color:$base;
  // }

.container {
      position: relative;
      margin: 0 auto;
      margin-top: 0;
      width: 100%;
}
.btn {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 0.2rem 0.8rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  // transition: opacity 0.2s ease-in;
  opacity: 0.8;
  outline: none;
  border-radius: 1em;
}
.btn-pri,
.bg-primary,
.badge-primary,
.alert-primary {
background: $base;
color: #fff;
}

.button,
.button-full{
  font-size:15px;
  height: 40px;
  line-height: 40px;
  padding:0 20px 0 20px;
  border: none;
  border-radius: 20px;
  background-color: $base;
  color:#fff;
  border-radius: 3px;

  @include cursorHand();

  &:hover,
  &:active{
    background-color: $base;
  }
}
.inputText {
  display: inline-block;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 2em;
  color: #666666;
}

.button-white{
  @extend .btn;
  background-color: #fff;
  color:$base;
  border:1px solid $base;
  &:hover,
  &:active{
    background-color: #efefef;
  }
}

.user-p {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  &:last-child {
    margin-bottom: 0;
  }
  .ml-10 {
        margin-left: 10px;
        line-height: 1rem;
  }
  .username {
        font-weight: 600;
        color: #666666;
        font-size: 0.8rem;
  }
  .times{
        color: #888888;
        display: block;
        font-size: 0.8rem;
  }
}

.content {
      position: relative;
      margin: 0 auto;
      width: 100%;
      z-index: inherit;
      min-height: 500px;
}